@model KungFuTea.Models.ViewModels.Cart.CartViewModel


    <div class="cart" style="color:white;">
        Shopping cart: @Model.Quantity item(s) : $@Model.Price
        <br />
        <span class="glyphicon glyphicon-shopping-cart"></span>
        @Html.ActionLink("Checkout", "Index")
    </div>