@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    ViewBag.Title = "About";
}
    <style>
        .About {
            text-align: center;
            font-family: 'Open Sans', sans-serif;
            color: #fff;
            margin: 40px auto;
            background: rgba(22,22,22, 0.5);
            width: 100%;
            max-width: 960px;
            border-radius: 5px;
            padding-bottom: 32px;
        }

        h1, h1 a {
            min-height: 120px;
            width: 90%;
            max-width: 700px;
            vertical-align: middle;
            text-align: center;
            margin: 0 auto;
            text-decoration: none;
            color: #fff;
            padding-top: 80px;
        }

        p {
            width: 90%;
            max-width: 700px;
            text-align: left;
            margin: 0 auto;
            padding-bottom: 32px;
        }
    </style>
    <div class="About">
        <h2 align="center">About Us</h2>
        <p>
            At Kung Fu Tea,we’re about reinventing and reimagining the humble tea leaf, and sharing our teas with anyone who’ll listen.
            We’re inspired by the people we meet, and the far-flung places we visit. We get a kick out of taking ancient tea rituals and reimagining them, bringing them to a modern tea table. Every cup we brew is a chance to make tea more enjoyable, more accessible and more experimental; it’s our opportunity to connect, understand and share with the world our love for a better cup of tea, everyday.
        </p>
    </div>