@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    ViewBag.Title = "About";
}
   
    <div class="About">
        <h2 align="center">About Us</h2>
        <p align="center">
            At Kung Fu Tea,we’re about reinventing and reimagining the humble tea leaf, and sharing our teas with anyone who’ll listen.
            We’re inspired by the people we meet, and the far-flung places we visit. We get a kick out of taking ancient tea rituals and reimagining them, bringing them to a modern tea table.
        </p>
    </div>