@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    ViewBag.Title = "Home Page";
}
<style>
<link href="~/Content/bootstrap.css" rel="stylesheet" />
</style>
<div class="content">
    <h1 class="h1">Kung Fu Tea</h1>
    <p class="" style="color:white">Weclome to Kung Fu Tea! Hope you enjoy our service.</p>
    <p><button type="button" class="btn btn-primary btn-large" onclick="location.href='@Url.Action("About", "Home")'">>Learn more about us&raquo;</button> <button type="button" class="btn btn-primary btn-large" onclick="location.href='@Url.Action("Contact", "Home")'">>Contact Us&raquo;</button></p>
</div>