@model IEnumerable<KungFuTea.Models.ViewModels.Shop.CategoryViewModel>

@{
    ViewBag.Title = "Categories";
}

<h2>Categories</h2>


@if (! Model.Any())
{
    <h1 class="text-center">There are no categories.</h1>
}
else
{
    <table class="table sorting categories" id="pages">
        <tr class="home">
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
        </tr>

    @foreach (var item in Model) {
        <tr id="id_@item.Id">
            <td>
                <div class="ajaxdivtd"></div>
                @Html.EditorFor(modelItem => item.Name, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
            </td>

        </tr>
    }

    </table>
}
