@model IEnumerable<KungFuTea.Models.ViewModels.Shop.ItemViewModel>

@{
    ViewBag.Title = ViewBag.CategoryName;
}

<h2 align="center">@ViewBag.CategoryName</h2>

<table class="table">

    <tr>
        <th style="text-align:center">
            Name
        </th>
        <th class="col-md-4">
            Description
        </th>
        <th>
            Price
        </th>
        <th>
            Image
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            $@Html.DisplayFor(modelItem => item.Price)
        </td>
        <td>
            <a href="/shop/item-details/@item.Slug">
                <img src="/Images/@item.ImageName" width="80" height="80"/>
            </a>
        </td>
        <td>
            <a href="/shop/item-details/@item.Slug" style="color:white">Details</a>
        </td>
    </tr>
}

</table>
