@model KungFuTea.Models.ViewModels.Shop.ItemViewModel

@{
    ViewBag.Title = Model.Name;
}

<h2>@Model.Name</h2>
<br />

<div class="row">

    <div class="col-xs-12 col-md-4">
        <img src="/Images/@Model.ImageName" width="80" height="80" />
    </div>

    <div class="col-xs-6 col-md-6">
        @Html.DisplayFor(model => model.Description)
        <br />
        $@Html.DisplayFor(model => model.Price)
        <br />

        @if( Request.IsAuthenticated)
        {
            <div class="addtocart">
                <a href="#" class="addtocart">Add To Cart</a>
                <span class="loader">
                    <img src="~/Content/img/ajax-loader.gif" />
                </span>
                <span class="ajaxmsg">"@Model.Name" has been added to your cart.</span>
            </div>
        }

    </div>

</div>

<hr />

<link href="~/Content/jquery.fancybox.css" rel="stylesheet" />

@section Scripts {
    
<script src="~/Scripts/jquery.fancybox.js"></script>
<script>
$(function () {

    /*
    * Fancybox
    */

    $(".fancybox").fancybox();


    /*
    * Add to cart
    */

    $("a.addtocart").click(function (e) {
        e.preventDefault();

        $("span.loader").addClass("kib");

        var url = "/cart/AddToCartPartial";

        $.get(url, { id: @Model.Id }, function (data) {
            $(".cart").html(data);
        }).done(function () {
            $("span.loader").removeClass("kib");
            $("span.ajaxmsg").addClass("kib");
            setTimeout(function () { 
                $("span.ajaxmsg").fadeOut("fast");
                $("span.ajaxmsg").removeClass("kib");
            }, 1000);
        });
    });

    ////////////////////////////////////////////////////////

});
</script>
    
}