@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    ViewBag.Title = "Contact";
}

    <div class="Contact">
        <h2 align="center">Contact Us</h2>
        <address>
            77 Leighton Rd<br />
            Causeway Bay<br />
            <abbr title="Phone">P:</abbr>
            +852 9759 9283
        </address>

        <address>
            <i class="icon-envelope"></i><strong>Support:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
            <i class="icon-envelope"></i><strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
        </address>
    </div>